<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_13_Loops.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Print Job Titles (1.13.1)

In [2]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

In [3]:
for job in job_titles :
  print(job)

Data Scientist
Data Analyst
Machine Learning Engineer

---

## ðŸŸ© Total Job Postings (1.13.2)

In [4]:
# Code Needed
job_postings = [5, 10, 15, 20, 25]

In [5]:
total = 0
for job in job_postings:
  total += job
print("total job_postings :",total)

total job_postings : 75

---

## ðŸŸ¨ Print Job Titles with Index (1.13.3)

In [6]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

In [7]:
for i in range(len(job_titles)):
  print(i, job_titles[i])

0 Data Scientist
1 Data Analyst
2 Machine Learning Engineer

---

## ðŸŸ¨ Find First Engineer (1.13.4)

In [8]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']

In [9]:
for title in job_titles:
  if "Engineer" in title:
    print("First Engineer title:", title)
    break

First Engineer title: Machine Learning Engineer

---

In [10]:

for title in job_titles:
    if "Engineer" in title:
        print("First Engineer title:", title)
        break

First Engineer title: Machine Learning Engineer

## ðŸŸ¥ Print Job Titles Containing 'Data' (1.13.5)

In [11]:
# Code Needed
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}

In [12]:
for position in positions_skills:
    if "Data" in position:
        print(position)

Data Scientist
Data Analyst

---

In [13]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']

for title in job_titles:
    if "Engineer" in title:
        print("First Engineer title:", title)
        break

First Engineer title: Machine Learning Engineer

In [18]:
a=int(input())
b=int(input())
for x in range (a+1,b):
  print(x)

2
5
3
4

In [19]:
for i in range(1,11):
  if i%2 ==0:
        print(i)

2
4
6
8
10

In [20]:
count = 0
for i in range(1, 5):
    if(i % 2 == 0):
        count = count+1
print(count)

2

In [21]:
e_count = 0
o_count = 0
for i in range(1, 11):
    if(i % 2 == 0):
        e_count = e_count + 1
    else:
      o_count = o_count+1
print(e_count)
print(o_count)

5
5

In [22]:
count = 0
for i in range (1,101):
  if (i%3==0 and i%5==0):
    count = count+1
print(count)

6

In [29]:
total = 0
for i in range (1,6):
  total = total+i
print(total)

15

In [30]:
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [33]:
a=[]
a.append(10)
a.append(20)
a.append(30)
a.append(40)
b=int(input())
a.append(b)
print(a)

50
[10, 20, 30, 40, 50]

In [44]:
a =[]
print("Enter 10 Numbers:")
for i in range (5):
  num=int(input("Enter num: "+str(i+1)))
  a.append(num)
print(a)
sum = 0
for i in a:
  sum = sum + i
print(sum)

Enter 10 Numbers:
Enter num: 110
Enter num: 220
Enter num: 330
Enter num: 440
Enter num: 550
[10, 20, 30, 40, 50]
150

In [48]:
L=[]
for i in range (7):
  num=int(input("Enter num: "+str(i+1)))
  L.append(num)
  print(L)
sum = 0
for i in L:
  sum = sum + i
print(sum)

Enter num: 11
[1]
Enter num: 22
[1, 2]
Enter num: 33
[1, 2, 3]
Enter num: 44
[1, 2, 3, 4]
Enter num: 55
[1, 2, 3, 4, 5]
Enter num: 66
[1, 2, 3, 4, 5, 6]
Enter num: 77
[1, 2, 3, 4, 5, 6, 7]
28

In [54]:
for i in range (1,6):
  cube = (i*i*i)
  print(f"number is: {i} and cube of the {i} is:{cube}")

number is: 1 and cube of the 1 is:1
number is: 2 and cube of the 2 is:8
number is: 3 and cube of the 3 is:27
number is: 4 and cube of the 4 is:64
number is: 5 and cube of the 5 is:125