<a href="https://colab.research.google.com/github/TharunMallesan/Tharun_Mallesan_Data-Science-Assignment/blob/main/4_Problems/1_13_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_13_Loops.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Print Job Titles (1.13.1)

In [19]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

In [20]:
for job in job_titles :
  print(job)

Data Scientist
Data Analyst
Machine Learning Engineer

---

## ðŸŸ© Total Job Postings (1.13.2)

In [21]:
# Code Needed
job_postings = [5, 10, 15, 20, 25]

In [43]:
total = 0
for job in job_postings:
  total += job
print("total job_postings :",total)

NameError: name 'job_postings' is not defined

---

## ðŸŸ¨ Print Job Titles with Index (1.13.3)

In [22]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

In [36]:
for i in range(len(job_titles)):
  print(i, job_titles[i])

0 Data Scientist
1 Data Analyst
2 Machine Learning Engineer
3 Software Engineer

---

## ðŸŸ¨ Find First Engineer (1.13.4)

In [37]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']

In [39]:
for title in job_titles:
  if "Engineer" in title:
    print("First Engineer title:", title)
    break

First Engineer title: Machine Learning Engineer

---

In [25]:

for title in job_titles:
    if "Engineer" in title:
        print("First Engineer title:", title)
        break

First Engineer title: Machine Learning Engineer

## ðŸŸ¥ Print Job Titles Containing 'Data' (1.13.5)

In [26]:
# Code Needed
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}

In [27]:
for position in positions_skills:
    if "Data" in position:
        print(position)

Data Scientist
Data Analyst

---

In [28]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']

for title in job_titles:
    if "Engineer" in title:
        print("First Engineer title:", title)
        break

First Engineer title: Machine Learning Engineer

In [7]:
a=int(input())
b=int(input())
for x in range (a+1,b):
  print(x)

8
15
9
10
11
12
13
14

In [6]:
x

14

In [23]:
for i in range(1,11):
  if i%2 ==0:
        print(i)

2
4
6
8
10

In [36]:
count = 0
for i in range(1, 5):
    if(i % 2 == 0):
        count = count+1
print(count)

2

In [41]:
e_count = 0
o_count = 0
for i in range(1, 11):
    if(i % 2 == 0):
        e_count = e_count + 1
    else:
      o_count = o_count+1
print(e_count)
print(o_count)

5
5

In [42]:
count = 0
for i in range (1,101):
  if (i%3==0 and i%5==0):
    count = count+1
print(count)

6